.gridCard {
    display: grid;
    grid-template-columns: repeat(4, 239px);
    justify-content: space-between;
    margin-top: 40px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.card {
    border-radius: 8px;
    background: #FFF;
    /* box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.04); */
    /* width: calc(100% - 10px); */
    height: 114px;
    box-sizing: border-box;
    padding: 8px 8px 24px 16px;
    display: flex;
    /* margin-right: 100px !important; */
    flex-direction: column;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
}

.options {
    --width: 100px;
    right: calc((var(--width) / -2) + 15px);
    width: var(--width);
    
    box-sizing: border-box;
    padding: 5px;
    
    margin-top: 25px;
    position: absolute;
    background-color: rgb(235, 235, 235);
    z-index: 1111;
    overflow: hidden;
    border-radius: 4px;

    animation: A_options 200ms;
}

@keyframes A_options {
    from { 
        transform: scale(0.5) translateY(-20px);
        opacity: 0;
    }
    
    to { 
        transform: scale(1) translateY(0px);  
        opacity: 1;
    }
}

.options button {
    width: 100%;
    text-align: center;
    border-radius: 4px;
    font-size: 10px;
    height: 20px;
    opacity: 0.8;
    transition: 200ms;
}

.options button:hover {
    opacity: 1;
    transform: translateY(-1px);
}

.buttonDelete {
    background-color: rgba(255, 104, 104);
}

.buttonEdit {
    background-color: rgb(104, 200, 255);
    margin-top: 5px;
}


.links a {
    display: block;
}

.links a:first-child {
    margin-right: 20px;
}




.card:hover {
    border: 1px solid var(--Azul-Principal, #0077BA);
    box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
    
    /* transform: translateY(-5px); */
}


.card h3 {
    color: #0077BA;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.card h3 img {
    margin-right: 8px;
}

.buttonInfos {
    background: none;
    border: none;
    outline: none;
    margin-left: auto;
    display: block;
    width: 16px;
    height: 16px;
}


.card p {
    text-decoration-line: underline;
    display: flex;
    align-items: center;
    margin-top: auto;
}

.card p a {
    color: #0077BA;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
    display: flex;
    align-items: center;
}

.card p a:hover {
    transform: translateX(2px);
    opacity: 0.7;
}

.card p img {
    width: 12px;
    height: 12px;
    margin-right: 3px;
}

.card p span {
    color: #828282;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 18px */
    margin-left: auto;
    margin-right: 5px;
}